@import "/styles/variables.scss";

.pk-column {
  width: 320px;
  height: max-content;
  max-height: 90vh;
  overflow: auto;
  min-height: 170px;
  border: 1px solid $gray-800;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  //grid-template-columns: 100%;
  gap: 12px;
  background-color: $gray-900;

  &__title {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    & > h3 {
      font-weight: 500;
      color: $gray-200;
    }
    & > span {
      background-color: $gray-800;
      color: $gray-200;
      padding: 4px 8px;
      border-radius: 12px;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }

  &__body {
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow: auto;
  }

}

.pk-card {
  width: 100%;
  background-color: #fff;
  border: 1px solid $gray-1000;
  border-radius: 12px;
  height: 100px;
  padding: 12px;
  cursor: pointer;
  &:hover {
    transform: scale(0.99);
    background-color: #f5f5f5;
  }
}
