@import "/styles/variables.scss";

.pk-order-card{
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    color: $gray-100;
    &:hover {
        transform: scale(0.99);
        background-color: #f5f5f5;
    }

    &.warning {
        .pk-order-card__header {
            background-color: orange;
        }
    }

    &.danger {
        .pk-order-card__header {
            background-color: red;
        }
    }

    &.priority {
        .pk-order-card__header {
            background-color: purple;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: stretch;
        background-color: $gray-200;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 12px 12px;
        color:white;

        &-info{
            flex:1;

            & > h2 {
                font-weight: bold;
                font-size: 1.2rem;
            }
            & > h4 {
                font-size: 0.8rem;
                font-weight: normal;
            }
        }
        &-status{
            flex:1;
            display: flex;
            justify-content: end;
            align-items: end;

            & > span{
                font-size: 0.8rem;
            }
        }
        

    }

    &__body {
        padding: 12px 12px 18px 12px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }   

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 8px 0px;
        border-bottom: 1px solid $gray-800;

        &:is(label) {
            cursor: pointer;
        }

        &:has(input:checked) {
            text-decoration: line-through;
            text-decoration-color: green;
            & > small {
                color: gray;
            }
        }

        & > p {
            font-size: 1rem;
            font-weight: 500;
        }

        & > small {
            font-size: 0.7rem;
            font-weight: 500;
            color: red;
        }
    }
    
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
        padding: 8px 12px;

        & > button{
            padding: 6px 12px;
            border-radius: 8px;
            border: none;
            color: $white;
            font-weight: 600;
            font-size: 1.2rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__btn-state{
        flex:1;
        background-color: cornflowerblue !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        &:hover {
            background-color: darken(cornflowerblue, 10%) !important;
        }
        
        &--error {
            background-color: red !important;
            &:hover {
                background-color: darken(red, 10%) !important;
            }
        }

        &--code {
            background-color: green !important;
            &:hover {
                background-color: darken(green, 10%) !important;
            }
        }
    }

    &__btn-option{
        background-color: gray;
        &:hover {
            background-color: darken(gray, 10%);
        }

        &-close{
            background-color: red;
            &:hover {
                background-color: darken(red, 10%);
            }
        }
    }

    &__admin-actions {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 8px;
        padding: 0px 12px 0px 12px;
        transition: all 0.3s ease-in-out;

        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-6px);
        pointer-events: none;

        & > button{
            flex:1;
            padding: 6px 12px;
            border-radius: 8px;
            border: none;
            color: $white;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
        }

        &__prioritize {
            background-color: orange;

            &:hover {
                background-color: darken(orange, 10%);
            }
        }

        &__cancel {
            background-color: red;

            &:hover {
                background-color: darken(red, 10%);
            }
        }
    }

    &__admin-actions--open {
        padding: 12px;
        max-height: 120px; // suficiente para dos botones
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    &__delivery-code {
        padding: 0 12px 0 12px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-6px);
        transition: all 0.3s ease-in-out;

        label {
            font-size: 0.9rem;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        input {
            padding: 6px 8px;
            border-radius: 6px;
            border: 1px solid $gray-400;
            font-size: 1rem;
        }

        &__hint {
            font-size: 0.7rem;
            color: gray;
            margin-top: 4px;
        }
        &__error {
            font-size: 0.7rem;
            color: red;
            margin-top: 4px;
        }
    }

    &__delivery-code--open {
        padding: 12px;
        max-height: 300px;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}
