@import "/styles/variables.scss";

.pk-riders {
  width: 320px;
  height: max-content;
  max-height: 85vh;
  overflow: auto;
  min-height: 170px;
  border: 1px solid $gray-800;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  //grid-template-columns: 100%;
  justify-items: center;
  gap: 12px;
  background-color: $gray-900;

  &__container {
    padding: 20px 20px 20px 0px;
  }

  &__title {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    & > h3 {
      font-weight: 500;
      color: $gray-200;
    }
    & > span {
      background-color: $gray-100;
      color: $white;
      padding: 4px 8px;
      border-radius: 12px;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }

  &__list {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    overflow: auto;
    padding-top: 10px;
  }
}
